body{
    background: linear-gradient(to right,#f6fcef ,#e7f1d7,#e9f6d8),
    url("watermelon/watermelon\ background.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode: multiply;
    width: 100%; height: 100%;
    min-height: 100vh;
    background-attachment: fixed;
    margin:0;
    padding:0;
}
